app:
  envs:
    # Avoid overloading the rather resource-constrained OpenSearch instance
    INDEXING_BULK_SIZE: 10
    INDEXING_QUEUE_COUNT: 12
  resources:
    limits:
      cpu: 2000m
      memory: 1Gi
    requests:
      cpu: 400m
      memory: 500Mi
opensearch:
  envs:
    OPENSEARCH_JAVA_OPTS: ' -Xms700m -Xmx700m '
  resources:
    limits:
      cpu: 1000m
      memory: 1.5Gi
    requests:
      cpu: 500m
      memory: 1.0Gi