name: Build

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - '*.md'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'

permissions:
  contents: read

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up JDK 21
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        distribution: temurin
        java-version: 21

    - name: Cache local Maven repository
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Validate formatting and imports
      run: mvn -B clean formatter:validate impsort:check

    - name: Build with Maven
      run: mvn -B install

    # Publish build reports
    - name: Prepare build reports archive
      if: always()
      run: |
        7z a -tzip build-reports.zip -r \
            'target/*-reports/TEST-*.xml' \
            'target/build-report.json' \
            LICENSE.txt
    - name: Upload build reports
      uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # 7.0.0
      if: always()
      with:
        name: "build-reports-${{ github.run_attempt }}-Build"
        path: |
          build-reports.zip
        retention-days: 7
    - name: Produce report and add it as job summary
      uses: quarkusio/action-build-reporter@02e2aea3728e6f31199387eeba0dcdbd18b75159 # main
      if: always()
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        build-reports-artifacts-path: .
